/* Background */
#whiskermenu-window > frame  {
	background-color: #232323;
	background-image: linear-gradient(to bottom, #8ea3bb, #434d58 50%, #434d58 51%, #a6bfdb);
	background-size: cover;
	color: #fff;    /* username text color*/
	border: solid 1px #3a434d;
}

#whiskermenu-window button, #whiskermenu-button {
	color: #fff;
}

#whiskermenu-window border {
	border: solid 1px rgba(255, 255, 255, 0.25);
}

#whiskermenu-window .profile-picture {
    min-width: 48px;
    min-height: 48px;
    background-image:
        url("../assets/user-glass-frame.png");
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    background-size: 100% 100%, cover;
    border-radius: 8px;
}

/* Category Buttons */
#whiskermenu-window button.category-button:hover,
#whiskermenu-window button.category-button:checked {
    background-image: linear-gradient(to bottom,
		rgba(255,255,255,0.35), rgba(255,255,255,0.08) 50%,
		rgba(0,0,0,0.25) 51%, rgba(255,255,255,0.08));
    border: 1px solid rgba(0,0,0,0.375);
    box-shadow: 0 0 0 1px rgba(255,255,255,0.325) inset;
    transition: 0ms
}

#whiskermenu-window button.category-button {
    background-color: transparent;
    min-height: 21px;
    margin-bottom: 4px;
    transition: 0ms
}

/* Action Buttons */
#whiskermenu-window button:not(.category-button) {
	border: 1px solid #606e7e;
	box-shadow: 0 0 0 1px rgba(255,255,255,0.375) inset;
	background-image: linear-gradient(#c4ceda, #91a2b5 50%, #7d90a5 51%, #9aafc6);
	transition: 0ms;
}

#whiskermenu-window button:not(.category-button):hover {
	border: 1px solid #46515c;
	box-shadow: 0 0 0 1px rgba(255,255,255,0.375) inset;
	background-image: linear-gradient(#e8ecf0, #8996a4 50%, #616f80 51%, #889cb3);
	
}

#whiskermenu-window button:not(.category-button):active,
#whiskermenu-window button:not(.category-button):checked {
	border: 1px solid #46515c;
	box-shadow: 0 0 0 1px rgba(155,155,155,0.375) inset;
	background-image: linear-gradient(#cdd5df, #8491a1 50%, #616f80 51%, #8ca1b8);
}
