[GdmGreeterTheme]
Greeter=win2-7.xml
Name=Win2-7
Description=Win2-7 GDM theme based off Portallooks.
Author=Separ Modified by the Win2-7 Team
Copyright=Proprietary License
Screenshot=screenshot.png
